@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Martel+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,
    sans-serif;
}
#container{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.sign-in-page{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.928) , rgba(0, 0, 0, 0.368), rgba(0, 0, 0, 0.928) ), url("Image/background_img.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

}
.nav-bar{
    padding-left: 11%;
    padding-right: 11%;
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo img{    
    width: 148px;
    height: 40px;
}
.lang{
    text-align: center;
    font-size: calc(13px + 0.390625vw);
    background-color: rgba(205, 203, 203, 0.106);
    color: white;
    width: 126px;
    height: 32px;
    line-height: 1.25rem;
    border-radius: 3px;
    margin-right: 5px;
}

.nav-bar option{
    background-color: white;
}
.nav-bar a{
    width: 77px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: calc(13px + 0.390625vw);
    background-color: #E50914;
    border-radius: 3px;
}

.main{
    font-family: 'Bebas Neue';
    width: 100%;
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container{
    height: 100%;
    text-align: center;
    margin: 12% 10% 6.5% 6.5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.main-container h1{
    font-weight: bolder;
    color: white;
    font-size: 3.5vw;
}
.main-container p{
    color: white;
    font-size: 1.8vw;
    margin-top: 2%;
}
.sign-in{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-in h3{
    color: white;
    font-size: 1.5vw;
    font-weight: 400;
    margin-top: 1.5rem;
    text-align: center;
}
.mail-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    height: 100px;
}
.mail-box input{
    width: 65%;
    border-radius: 5px;
    background-color: rgba(49, 49, 49, 0.297);
    border: 1px solid rgb(128, 128, 128);
    font-size: 1.1rem;
    color: white;
    padding-left: 15px;
}
.mail-box button{
    width: 33%;
    border-radius: 5px;
    background-color: #E50914;
    color: white;
    font-size: 1.7vw;
    border: none;
}
.view{
    width: 100%;
    height:80%;
    padding: 2% 0;
    border-top: 8px solid rgb(86, 86, 86);
    background-color: black;
    display: flex;
}
.box{
    margin: 0 9%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 100%;
    height:auto;
    object-fit: cover;
}
.boxshot{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    bottom: 25px;
    width: 65%;
    height: 104px;
    padding: 2%;
    background-color: black;
    border: 2px solid rgb(93, 93, 93);
    border-radius: 10px;
}
.boxshot-image{
    height: 100%;
    display: flex;
    width: 25%;
}
.boxshot-image img{
    height: auto;
    width: auto;
    object-fit: cover;
}
.right{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right h4{
    color: white;
    letter-spacing: 1px;
}
.right p{
    font-size: 0.9rem;
    color: #0071EB;
}
.boxshot i{
    font-size: 1.2rem;
    margin: auto 0;
    text-align: center;
    width: 15%;
    color: #0071EB;
}
.text{
    width: 50%;
    color:white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.text h1{
    font-size: 3.5vw;
    height: fit-content;
}
.text p{
    height: fit-content;
    margin-top:2%;
    margin-right: 2%;
    font-size: 1.5rem;
}
.about{
    height: fit-content;
    border-top: 8px solid rgb(86, 86, 86);
    background-color: black;
    display: flex;
}
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 6% 10%;
    gap: 30px;
}
.about-container h1{
    color: white;
    font-size: 4vw;
    font-weight: 2rem;
    text-align: center;
}
.question-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.question{
    padding: 2.8% 2.8%;
    width: 100%;
    background-color: rgb(55, 54, 54);
}
.question summary{
    color:white;
    font-size: 1.5rem;

}
.ans{
    margin-top: 35px;
    color: white;
    font-size: 1.5rem;
    word-spacing: 3px;
}
.contact-us{
    height: fit-content;
    border-top: 8px solid rgb(86, 86, 86);
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}
.contact-us a{
    color: rgb(165, 164, 164);
    text-decoration: underline white;
}
.contact-us-container{
    margin: 6% 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color:rgb(165, 164, 164);
}
.help{
    display: flex;
    flex-wrap: wrap;
    gap: 20vw;

}
.col{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

